Repository F5Networks/f5-google-gdm-templates-v2: changes, and which GitLab CI jobs are due for each by the changed paths.
All: gdm_network_module_test_job, gdm_application_module_test_job, gdm_bastion_module_test_job, gdm_bigip_autoscale_module_test_job, gdm_bigip_standalone_module_test_job, gdm_dag_module_test_job, gdm_autoscale_payg_test_job, gdm_quickstart_test_job

gdm_network_module_test_job:
  stage: sprinkle-tests
  tags:
  - docker-executor
  variables:
    TEST_POLICY: automated-test-scripts/data/f5-google-gdm-templates-v2/examples/modules/network/test_policy.yaml
    STACK_TYPE: dewdrop-preproduction
  script:
  - pip install -r cloud-tools/master-job/requirements.txt
  ...

gdm_application_module_test_job:
  stage: sprinkle-tests
  tags:
  - docker-executor
  variables:
    TEST_POLICY: automated-test-scripts/data/f5-google-gdm-templates-v2/examples/modules/application/test_policy.yaml
    STACK_TYPE: dewdrop-preproduction
  script:
  - pip install -r cloud-tools/master-job/requirements.txt
  ...

gdm_bastion_module_test_job:
  stage: sprinkle-tests
  tags:
  - docker-executor
  variables:
    TEST_POLICY: automated-test-scripts/data/f5-google-gdm-templates-v2/examples/modules/bastion/test_policy.yaml
    STACK_TYPE: dewdrop-preproduction
  script:
  - pip install -r cloud-tools/master-job/requirements.txt
  ...

gdm_bigip_autoscale_module_test_job:
  stage: sprinkle-tests
  tags:
  - docker-executor
  variables:
    TEST_POLICY: automated-test-scripts/data/f5-google-gdm-templates-v2/examples/modules/bigip-autoscale/test_policy.yaml
    STACK_TYPE: dewdrop-preproduction
  script:
  - pip install -r cloud-tools/master-job/requirements.txt
  ...

gdm_bigip_standalone_module_test_job:
  stage: sprinkle-tests
  tags:
  - docker-executor
  variables:
    TEST_POLICY: automated-test-scripts/data/f5-google-gdm-templates-v2/examples/modules/bigip-standalone/test_policy.yaml
    STACK_TYPE: dewdrop-preproduction
  script:
  - pip install -r cloud-tools/master-job/requirements.txt
  ...

gdm_dag_module_test_job:
  stage: sprinkle-tests
  tags:
  - docker-executor
  variables:
    TEST_POLICY: automated-test-scripts/data/f5-google-gdm-templates-v2/examples/modules/dag/test_policy.yaml
    STACK_TYPE: dewdrop-preproduction
  script:
  - pip install -r cloud-tools/master-job/requirements.txt
  ...

gdm_autoscale_payg_test_job:
  stage: sprinkle-tests
  tags:
  - docker-executor
  variables:
    TEST_POLICY: automated-test-scripts/data/f5-google-gdm-templates-v2/examples/autoscale/payg/test_policy.yaml
    STACK_TYPE: dewdrop-preproduction
  script:
  - pip install -r cloud-tools/master-job/requirements.txt
  ...

gdm_quickstart_test_job:
  stage: sprinkle-tests
  tags:
  - docker-executor
  variables:
    TEST_POLICY: automated-test-scripts/data/f5-google-gdm-templates-v2/examples/quickstart/test_policy.yaml
    STACK_TYPE: dewdrop-preproduction
  script:
  - pip install -r cloud-tools/master-job/requirements.txt
  ...

Esecldtplt-2773 Update Autoscale
  automated-test-scripts/f5-google-gdm-templates-v2/examples/modules/bigip-autoscale/create_stack.sh
  examples/autoscale/payg/autoscale.py
  examples/modules/bigip-autoscale/README.md
  examples/modules/bigip-autoscale/bigip_autoscale.py
  examples/modules/bigip-autoscale/bigip_autoscale.py.schema
Due: gdm_bigip_autoscale_module_test_job, gdm_autoscale_payg_test_job

Fix for ESECLDTPLT-2774
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/modules/bastion/prepub_parameters.yaml
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/modules/bastion/prepub_parameters1.yaml
  automated-test-scripts/f5-google-gdm-templates-v2/common/create_network_stack.sh
  automated-test-scripts/f5-google-gdm-templates-v2/common/get_mgmt_ip.sh
  automated-test-scripts/f5-google-gdm-templates-v2/examples/modules/bastion/create_stack.sh
  examples/modules/network/network.py
Due: gdm_network_module_test_job, gdm_bastion_module_test_job

ESECLDTPLT-2766 - Refactoring Access module
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/autoscale/payg/parameters.yaml
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/autoscale/payg/postpub_parameters.yaml
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/autoscale/payg/prepub_parameters.yaml
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/autoscale/payg/prepub_parameters1.yaml
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/modules/access/prepub_parameters.yaml
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/modules/access/prepub_parameters1.yaml
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/modules/access/test_policy.yaml
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/modules/bigip-autoscale/prepub_parameters.yaml
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/modules/bigip-autoscale/prepub_parameters1.yaml
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/modules/bigip-standalone/parameters.yaml
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/modules/bigip-standalone/prepub_parameters1.yaml
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/modules/bigip-standalone/prepub_parameters2.yaml
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/modules/bigip-standalone/prepub_parameters3.yaml
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/modules/bigip-standalone/prepub_parameters4.yaml
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/modules/bigip-standalone/prepub_parameters5.yaml
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/modules/bigip-standalone/prepub_parameters6.yaml
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/quickstart/parameters.yaml
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/quickstart/prepub_parameters1.yaml
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/quickstart/prepub_parameters2.yaml
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/quickstart/prepub_parameters3.yaml
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/quickstart/prepub_parameters4.yaml
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/quickstart/prepub_parameters5.yaml
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/quickstart/prepub_parameters6.yaml
  automated-test-scripts/f5-google-gdm-templates-v2/examples/modules/access/create_stack.sh
  automated-test-scripts/f5-google-gdm-templates-v2/examples/modules/access/tests/compare_permissions.py
  examples/autoscale/payg/autoscale.py.schema
  examples/modules/access/README.md
  examples/modules/access/access.py
  examples/modules/access/access.py.schema
Due: gdm_bigip_autoscale_module_test_job, gdm_bigip_standalone_module_test_job, gdm_autoscale_payg_test_job, gdm_quickstart_test_job

ESECLDTPLT-2753: Refactoring DAG module
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/modules/dag/postpub_parameters.yaml
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/modules/dag/prepub_parameters.yaml
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/modules/dag/prepub_parameters1.yaml
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/modules/dag/prepub_parameters2.yaml
  automated-test-scripts/f5-google-gdm-templates-v2/common/create_dag_stack.sh
  automated-test-scripts/f5-google-gdm-templates-v2/examples/autoscale/common/verify_waf_blocking.sh
  automated-test-scripts/f5-google-gdm-templates-v2/examples/autoscale/common/verify_waf_transparent.sh
  automated-test-scripts/f5-google-gdm-templates-v2/examples/modules/dag/create_stack.sh
  automated-test-scripts/f5-google-gdm-templates-v2/examples/modules/dag/tests/verify_firewall.sh
  automated-test-scripts/f5-google-gdm-templates-v2/examples/modules/dag/tests/verify_forwarding_rule.sh
  examples/autoscale/payg/autoscale.py
  examples/modules/dag/README.md
  examples/modules/dag/dag.py
  examples/modules/dag/dag.py.schema
  examples/modules/dag/sample_dag.yaml
  examples/quickstart/quickstart.py
Due: gdm_dag_module_test_job, gdm_autoscale_payg_test_job, gdm_quickstart_test_job

ESECLDTPLT-2777 - Link checker
  .gitlab-ci.yml
  Makefile
  README.md
  examples/autoscale/payg/README.md
  examples/autoscale/payg/diagram.png
  examples/images/google-access-module.png
  examples/images/google-application-module.png
  examples/images/google-bastion-module.png
  examples/images/google-network-module.png
  examples/modules/access/README.md
  examples/modules/application/README.md
  examples/modules/bastion/README.md
  examples/modules/bigip-autoscale/README.md
  examples/modules/bigip-standalone/README.md
  examples/modules/dag/README.md
  examples/modules/network/README.md
  examples/quickstart/README.md
  examples/quickstart/diagram.png
Due: none

ESECLDTPLT-2776: Update github_publish ci/cd job
  .gitlab-ci.yml
Due: none

Esecldtplt-2767: refactoring application template
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/modules/access/prepub_parameters.yaml
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/modules/application/prepub_parameters.yaml
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/modules/application/prepub_parameters1.yaml
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/modules/bigip-standalone/prepub_parameters1.yaml
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/modules/bigip-standalone/prepub_parameters2.yaml
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/modules/bigip-standalone/prepub_parameters3.yaml
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/modules/bigip-standalone/prepub_parameters4.yaml
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/modules/bigip-standalone/prepub_parameters5.yaml
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/modules/bigip-standalone/prepub_parameters6.yaml
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/modules/dag/prepub_parameters.yaml
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/modules/network/prepub_parameters.yaml
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/quickstart/prepub_parameters1.yaml
  automated-test-scripts/f5-google-gdm-templates-v2/common/create_dag_stack.sh
  automated-test-scripts/f5-google-gdm-templates-v2/examples/autoscale/payg/create_stack.sh
  automated-test-scripts/f5-google-gdm-templates-v2/examples/autoscale/payg/update_stack.sh
  automated-test-scripts/f5-google-gdm-templates-v2/examples/autoscale/payg/update_stack_for_delete.sh
  automated-test-scripts/f5-google-gdm-templates-v2/examples/modules/application/create_stack.sh
  automated-test-scripts/f5-google-gdm-templates-v2/examples/modules/application/daily_test.yaml
  automated-test-scripts/f5-google-gdm-templates-v2/examples/modules/application/tests/verify_application.sh
  automated-test-scripts/f5-google-gdm-templates-v2/examples/modules/bigip-standalone/create_stack.sh
  automated-test-scripts/parameters_diff_expected.yaml
  examples/autoscale/payg/README.md
  examples/autoscale/payg/autoscale.py
  examples/autoscale/payg/autoscale.py.schema
  examples/autoscale/payg/sample_autoscale.yaml
  examples/modules/application/README.md
  examples/modules/application/application.py
  examples/modules/application/application.py.schema
  examples/modules/application/sample_application_autoscale.yaml
  examples/quickstart/README.md
  examples/quickstart/quickstart.py
Due: gdm_network_module_test_job, gdm_application_module_test_job, gdm_bigip_standalone_module_test_job, gdm_dag_module_test_job, gdm_autoscale_payg_test_job, gdm_quickstart_test_job

Fix for ESECLDTPLT-2768
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/modules/bigip-autoscale/prepub_parameters.yaml
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/modules/bigip-autoscale/prepub_parameters1.yaml
  automated-test-scripts/data/test_policies/khanna.yaml
  automated-test-scripts/f5-google-gdm-templates-v2/common/create_dag_stack.sh
  automated-test-scripts/f5-google-gdm-templates-v2/examples/autoscale/payg/create_stack.sh
  automated-test-scripts/f5-google-gdm-templates-v2/examples/autoscale/payg/update_stack.sh
  automated-test-scripts/f5-google-gdm-templates-v2/examples/autoscale/payg/update_stack_for_delete.sh
  automated-test-scripts/f5-google-gdm-templates-v2/examples/modules/bigip-autoscale/create_stack.sh
  examples/autoscale/payg/autoscale.py
  examples/autoscale/payg/autoscale.py.schema
  examples/autoscale/payg/sample_autoscale.yaml
  examples/modules/bigip-autoscale/README.md
  examples/modules/bigip-autoscale/bigip_autoscale.py
  examples/modules/bigip-autoscale/bigip_autoscale.py.schema
  examples/modules/bigip-autoscale/sample_bigip_autoscale.yaml
Due: gdm_bigip_autoscale_module_test_job, gdm_autoscale_payg_test_job

ESECLDTPLT-2789 - refactoring bastion mod, updates to configs
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/autoscale/payg/prepub_parameters1.yaml
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/modules/bastion/prepub_parameters.yaml
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/modules/bastion/prepub_parameters1.yaml
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/modules/bigip-standalone/prepub_parameters1.yaml
  automated-test-scripts/f5-google-gdm-templates-v2/common/create_dag_stack.sh
  automated-test-scripts/f5-google-gdm-templates-v2/examples/modules/bastion/create_stack.sh
  automated-test-scripts/f5-google-gdm-templates-v2/examples/modules/bastion/tests/verify_bastion.sh
  automated-test-scripts/parameters_diff_expected.yaml
  examples/autoscale/payg/autoscale.py
  examples/autoscale/payg/autoscale.py.schema
  examples/autoscale/payg/sample_autoscale.yaml
  examples/modules/bastion/README.md
  examples/modules/bastion/bastion.py
  examples/modules/bastion/bastion.py.schema
  examples/modules/bastion/sample_bastion_autoscale.yaml
  examples/modules/bigip-standalone/bigip_standalone.py
  examples/quickstart/bigip-configurations/runtime-init-conf-1nic-byol.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-1nic-payg.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-2nic-byol.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-2nic-payg.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-3nic-byol.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-3nic-payg.yaml
  examples/quickstart/quickstart.py
  examples/quickstart/quickstart.py.schema
  examples/quickstart/sample_quickstart.yaml
Due: gdm_bastion_module_test_job, gdm_bigip_standalone_module_test_job, gdm_autoscale_payg_test_job, gdm_quickstart_test_job

Esecldtplt 2797 - update quickstart password to instance id
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/quickstart/prepub_parameters1.yaml
  automated-test-scripts/f5-google-gdm-templates-v2/examples/quickstart/tests/verify_instance_onboarded.sh
  automated-test-scripts/f5-google-gdm-templates-v2/examples/quickstart/tests/verify_login.sh
  examples/quickstart/bigip-configurations/runtime-init-conf-1nic-byol.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-1nic-payg.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-2nic-byol.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-2nic-payg.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-3nic-byol.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-3nic-payg.yaml
Due: gdm_quickstart_test_job

ESECLDTPLT-2749 and ESECLDTPLT-2799
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/autoscale/payg/parameters.yaml
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/autoscale/payg/prepub_parameters.yaml
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/autoscale/payg/prepub_parameters1.yaml
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/quickstart/prepub_parameters1.yaml
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/quickstart/prepub_parameters2.yaml
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/quickstart/prepub_parameters3.yaml
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/quickstart/prepub_parameters4.yaml
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/quickstart/prepub_parameters5.yaml
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/quickstart/prepub_parameters6.yaml
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/quickstart/prepub_parameters7_v14.yaml
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/quickstart/prepub_parameters8_v14.yaml
  automated-test-scripts/data/test_policies/khanna.yaml
  automated-test-scripts/f5-google-gdm-templates-v2/examples/autoscale/payg/create_stack.sh
  automated-test-scripts/f5-google-gdm-templates-v2/examples/autoscale/payg/update_stack.sh
  automated-test-scripts/f5-google-gdm-templates-v2/examples/autoscale/payg/update_stack_for_delete.sh
  automated-test-scripts/f5-google-gdm-templates-v2/examples/quickstart/create_stack.sh
  examples/autoscale/payg/README.md
  examples/autoscale/payg/autoscale.py
  examples/autoscale/payg/autoscale.py.schema
  examples/autoscale/payg/diagram.drawio
  examples/autoscale/payg/diagram.png
  examples/autoscale/payg/sample_autoscale.yaml
  examples/modules/bigip-autoscale/bigip_autoscale.py
  examples/quickstart/ diagram-multiple-vips.drawio
  examples/quickstart/ diagram.drawio
  examples/quickstart/README.md
  examples/quickstart/diagram-multiple-vips.png
  examples/quickstart/diagram.png
  examples/quickstart/quickstart.py
  examples/quickstart/quickstart.py.schema
  examples/quickstart/sample_quickstart.yaml
Due: gdm_bigip_autoscale_module_test_job, gdm_autoscale_payg_test_job, gdm_quickstart_test_job

ESECLDTPLT-2748 Doc updates
  examples/README.md
  examples/autoscale/payg/README.md
  examples/modules/access/README.md
  examples/modules/application/README.md
  examples/modules/bastion/README.md
  examples/modules/bigip-autoscale/README.md
  examples/modules/bigip-standalone/README.md
  examples/modules/dag/README.md
  examples/modules/network/README.md
  examples/quickstart/README.md
Due: none

update ci/cd
  .gitlab-ci.yml
Due: none

update post_release_test plan
  automated-test-scripts/data/test_policies/post_release_test.yaml
Due: none

fix post release parameters
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/modules/bigip-autoscale/postpub_parameters.yaml
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/modules/bigip-autoscale/postpub_parameters1.yaml
Due: gdm_bigip_autoscale_module_test_job

Fix: R21.6.0: Update logic for populating properties
  automated-test-scripts/f5-google-gdm-templates-v2/examples/modules/bigip-autoscale/create_stack.sh
  examples/autoscale/payg/autoscale.py
  examples/modules/application/application.py
  examples/modules/application/application.py.schema
  examples/modules/application/sample_application_autoscale.yaml
  examples/modules/bastion/bastion.py
  examples/modules/bastion/sample_bastion_autoscale.yaml
  examples/modules/bigip-autoscale/bigip_autoscale.py
  examples/modules/bigip-autoscale/sample_bigip_autoscale.yaml
  examples/modules/dag/dag.py
Due: gdm_application_module_test_job, gdm_bastion_module_test_job, gdm_bigip_autoscale_module_test_job, gdm_dag_module_test_job, gdm_autoscale_payg_test_job

ESECLDTPLT-2725: Init function module
  .gitlab-ci.yml
  automated-test-scripts/Makefile
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/modules/function/parameters.yaml
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/modules/function/prepub_parameters.yaml
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/modules/function/prepub_parameters1.yaml
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/modules/function/test_policy.yaml
  automated-test-scripts/f5-google-gdm-templates-v2/examples/modules/function/create_stack.sh
  automated-test-scripts/f5-google-gdm-templates-v2/examples/modules/function/daily_test.yaml
  automated-test-scripts/f5-google-gdm-templates-v2/examples/modules/function/tests/verify_function.sh
  automated-test-scripts/f5-google-gdm-templates-v2/examples/modules/function/tests/verify_job.sh
  automated-test-scripts/f5-google-gdm-templates-v2/examples/modules/function/tests/verify_topic.sh
  automated-test-scripts/outputs_diff_expected.yaml
  automated-test-scripts/parameters_diff_expected.yaml
  examples/modules/function/README.md
  examples/modules/function/function.py
  examples/modules/function/function.py.schema
  examples/modules/function/sample_function.yaml
Due: none

Main to develop
  automated-test-scripts/data/test_policies/shimkus.yaml
Due: none

ESECLDTPLT-2838
  examples/README.md
  examples/autoscale/payg/sample_autoscale.yaml
  examples/modules/access/README.md
  examples/modules/bigip-autoscale/README.md
  examples/modules/bigip-standalone/README.md
  examples/quickstart/README.md
  examples/quickstart/sample_quickstart.yaml
Due: none

ESECLDTPLT-2806: Report CST 2.0 template usage via Runtime-Init
  .gitlab-ci.yml
  automated-test-scripts/f5-google-gdm-templates-v2/examples/modules/bigip-autoscale/daily_test.yaml
  automated-test-scripts/f5-google-gdm-templates-v2/examples/modules/bigip-autoscale/tests/verify_runtimeinit_install_params.sh
  automated-test-scripts/f5-google-gdm-templates-v2/examples/modules/bigip-standalone/daily_test.yaml
  automated-test-scripts/f5-google-gdm-templates-v2/examples/modules/bigip-standalone/tests/verify_runtimeinit_install_params.sh
  examples/modules/bigip-autoscale/bigip_autoscale.py
  examples/modules/bigip-standalone/bigip_standalone.py
Due: gdm_bigip_autoscale_module_test_job, gdm_bigip_standalone_module_test_job

ESECLDTPLT-2796/2861 - Consistency Updates (Add outputs and forwarding rule)
  automated-test-scripts/data/test_policies/shimkus.yaml
  automated-test-scripts/f5-google-gdm-templates-v2/examples/quickstart/tests/verify_waf_blocking.sh
  examples/autoscale/payg/README.md
  examples/autoscale/payg/autoscale.py
  examples/autoscale/payg/autoscale.py.schema
  examples/modules/bigip-standalone/README.md
  examples/modules/bigip-standalone/bigip_standalone.py
  examples/modules/bigip-standalone/bigip_standalone.py.schema
  examples/modules/bigip-standalone/sample_bigip_standalone.yaml
  examples/quickstart/ diagram.drawio
  examples/quickstart/README.md
  examples/quickstart/bigip-configurations/runtime-init-conf-1nic-byol.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-1nic-payg.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-2nic-byol.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-2nic-payg.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-3nic-byol.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-3nic-payg.yaml
  examples/quickstart/diagram-bastion.drawio
  examples/quickstart/diagram-bastion.png
  examples/quickstart/diagram.png
  examples/quickstart/quickstart.py
  examples/quickstart/quickstart.py.schema
Due: gdm_bigip_standalone_module_test_job, gdm_autoscale_payg_test_job, gdm_quickstart_test_job

Support role - AT components metadata
  .gitlab-ci.yml
  automated-test-scripts/f5-google-gdm-templates-v2/examples/modules/function/daily_test.yaml
Due: none

update params to use supported ubuntu image
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/modules/bastion/postpub_parameters.yaml
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/modules/bastion/postpub_parameters1.yaml
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/modules/bastion/prepub_parameters.yaml
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/modules/bastion/prepub_parameters1.yaml
Due: gdm_bastion_module_test_job

ESECLDTPLT-1853 - Failover Cluster - README.md
  examples/failover/README.md
  examples/failover/diagram.png
Due: none

ESECLDTPLT-2656: Existing Stack Example Parent Template (Autoscale PAYG)
  .gitlab-ci.yml
  automated-test-scripts/Makefile
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/autoscale/payg_existing_network/parameters.yaml
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/autoscale/payg_existing_network/postpub_parameters.yaml
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/autoscale/payg_existing_network/postpub_parameters1.yaml
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/autoscale/payg_existing_network/prepub_parameters.yaml
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/autoscale/payg_existing_network/prepub_parameters1.yaml
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/autoscale/payg_existing_network/test_policy.yaml
  automated-test-scripts/f5-google-gdm-templates-v2/examples/autoscale/payg/create_stack.sh
  automated-test-scripts/f5-google-gdm-templates-v2/examples/autoscale/payg_existing_network/create_stack.sh
  automated-test-scripts/f5-google-gdm-templates-v2/examples/autoscale/payg_existing_network/daily_test.yaml
  automated-test-scripts/f5-google-gdm-templates-v2/examples/autoscale/payg_existing_network/tests/create_network_stack.sh
  automated-test-scripts/f5-google-gdm-templates-v2/examples/autoscale/payg_existing_network/update_stack.sh
  automated-test-scripts/f5-google-gdm-templates-v2/examples/autoscale/payg_existing_network/update_stack_for_delete.sh
  examples/autoscale/bigip-configurations/runtime-init-conf-bigiq-with-app.yaml
  examples/autoscale/bigip-configurations/runtime-init-conf-bigiq.yaml
  examples/autoscale/bigip-configurations/runtime-init-conf-payg-with-app.yaml
  examples/autoscale/bigip-configurations/runtime-init-conf-payg.yaml
  examples/autoscale/payg/README.md
  examples/autoscale/payg/autoscale-existing-network.py
  examples/autoscale/payg/autoscale-existing-network.py.schema
  examples/autoscale/payg/sample_autoscale-existing-stack.yaml
Due: gdm_autoscale_payg_test_job

ESECLDTPLT-2905: add scheduled policies, update pre/post
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/quickstart/postpub_parameters2.yaml
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/quickstart/postpub_parameters3.yaml
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/quickstart/postpub_parameters4.yaml
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/quickstart/postpub_parameters5.yaml
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/quickstart/postpub_parameters6.yaml
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/quickstart/postpub_parameters7_v14.yaml
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/quickstart/postpub_parameters8_v14.yaml
  automated-test-scripts/data/test_policies/post_release_test.yaml
  automated-test-scripts/data/test_policies/pre_release_test.yaml
  automated-test-scripts/data/test_policies/scheduled/friday.yaml
  automated-test-scripts/data/test_policies/scheduled/friday_5am.yaml
  automated-test-scripts/data/test_policies/scheduled/friday_develop.yaml
  automated-test-scripts/data/test_policies/scheduled/friday_main.yaml
  automated-test-scripts/data/test_policies/scheduled/monday.yaml
  automated-test-scripts/data/test_policies/scheduled/monday_5am.yaml
  automated-test-scripts/data/test_policies/scheduled/monday_develop.yaml
  automated-test-scripts/data/test_policies/scheduled/monday_main.yaml
  automated-test-scripts/data/test_policies/scheduled/saturday.yaml
  automated-test-scripts/data/test_policies/scheduled/saturday_5am.yaml
  automated-test-scripts/data/test_policies/scheduled/saturday_develop.yaml
  automated-test-scripts/data/test_policies/scheduled/saturday_main.yaml
  automated-test-scripts/data/test_policies/scheduled/sunday.yaml
  automated-test-scripts/data/test_policies/scheduled/sunday_5am.yaml
  automated-test-scripts/data/test_policies/scheduled/sunday_develop.yaml
  automated-test-scripts/data/test_policies/scheduled/sunday_main.yaml
  automated-test-scripts/data/test_policies/scheduled/thursday.yaml
  automated-test-scripts/data/test_policies/scheduled/thursday_5am.yaml
  automated-test-scripts/data/test_policies/scheduled/thursday_develop.yaml
  automated-test-scripts/data/test_policies/scheduled/thursday_main.yaml
  automated-test-scripts/data/test_policies/scheduled/tuesday.yaml
  automated-test-scripts/data/test_policies/scheduled/tuesday_5am.yaml
  automated-test-scripts/data/test_policies/scheduled/tuesday_develop.yaml
  automated-test-scripts/data/test_policies/scheduled/tuesday_main.yaml
  automated-test-scripts/data/test_policies/scheduled/wednesday.yaml
  automated-test-scripts/data/test_policies/scheduled/wednesday_5am.yaml
  automated-test-scripts/data/test_policies/scheduled/wednesday_develop.yaml
  automated-test-scripts/data/test_policies/scheduled/wednesday_main.yaml
Due: gdm_quickstart_test_job

using persistent BIG-IQ, errors in function template
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/autoscale/bigiq/parameters.yaml
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/autoscale/bigiq/postpub_parameters.yaml
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/autoscale/bigiq/postpub_parameters1.yaml
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/autoscale/bigiq/prepub_parameters.yaml
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/autoscale/bigiq/prepub_parameters1.yaml
  automated-test-scripts/f5-google-gdm-templates-v2/common/create_secret_bigiq.sh
  automated-test-scripts/f5-google-gdm-templates-v2/common/find_bigiq.sh
  automated-test-scripts/f5-google-gdm-templates-v2/examples/autoscale/bigiq/create_stack.sh
  automated-test-scripts/f5-google-gdm-templates-v2/examples/autoscale/bigiq/daily_test.yaml
  automated-test-scripts/f5-google-gdm-templates-v2/examples/autoscale/bigiq/update_stack_for_delete.sh
  automated-test-scripts/f5-google-gdm-templates-v2/examples/autoscale/common/verify_login.sh
  examples/autoscale/bigiq/autoscale.py
  examples/modules/function/README.md
  examples/modules/function/function.py
  examples/modules/function/function.py.schema
Due: none

ESECLDTPLT-1793
  automated-test-scripts/f5-google-gdm-templates-v2/examples/failover/common/create_storage_upload_runtime.sh
  automated-test-scripts/f5-google-gdm-templates-v2/examples/failover/common/revert_failover_active_active.sh
  automated-test-scripts/f5-google-gdm-templates-v2/examples/failover/common/trigger_failover_active_active.sh
  automated-test-scripts/f5-google-gdm-templates-v2/examples/failover/common/verify_active_active.sh
  automated-test-scripts/f5-google-gdm-templates-v2/examples/failover/common/verify_active_standby.sh
  automated-test-scripts/f5-google-gdm-templates-v2/examples/failover/daily_test.yaml
  automated-test-scripts/f5-google-gdm-templates-v2/examples/failover/tests/verify_application.sh
  examples/failover/bigip-configurations/runtime-init-conf-3nic-byol_instance01.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-byol_instance01_with_app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-byol_instance02.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-byol_instance02_with_app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg_instance01.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg_instance01_with_app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg_instance02.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg_instance02_with_app.yaml
  examples/failover/failover.py
  examples/modules/bigip-standalone/bigip_standalone.py
  examples/quickstart/bigip-configurations/runtime-init-conf-1nic-payg.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-3nic-byol.yaml
Due: gdm_bigip_standalone_module_test_job, gdm_quickstart_test_job

ESECLDTPLT-2917 - Update issue templates
  .github/ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/documentation-issue.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
  Makefile
  automated-test-scripts/data/test_policies/shimkus.yaml
  examples/autoscale/bigip-configurations/runtime-init-conf-bigiq-with-app.yaml
  examples/autoscale/bigip-configurations/runtime-init-conf-bigiq.yaml
  examples/autoscale/bigip-configurations/runtime-init-conf-payg-with-app.yaml
  examples/autoscale/bigip-configurations/runtime-init-conf-payg.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-byol_instance01.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-byol_instance01_with_app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-byol_instance02.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-byol_instance02_with_app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg_instance01.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg_instance01_with_app.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg_instance02.yaml
  examples/failover/bigip-configurations/runtime-init-conf-3nic-payg_instance02_with_app.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-1nic-byol.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-1nic-payg.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-2nic-byol.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-2nic-payg.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-3nic-byol.yaml
  examples/quickstart/bigip-configurations/runtime-init-conf-3nic-payg.yaml
Due: gdm_quickstart_test_job

ESECLDTPLT-2923 - updated ci/cd, smart:init
  .gitlab-ci.yml
  Makefile
Due: none

ESECLDTPLT-2665: Existing Stack Parent Template (Failover)
  .gitlab-ci.yml
  automated-test-scripts/Makefile
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/failover/existing/postpub_parameters1.yaml
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/failover/existing/postpub_parameters2.yaml
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/failover/existing/postpub_parameters3.yaml
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/failover/existing/postpub_parameters4.yaml
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/failover/existing/prepub_parameters1.yaml
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/failover/existing/prepub_parameters2.yaml
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/failover/existing/prepub_parameters3.yaml
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/failover/existing/prepub_parameters4.yaml
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/failover/existing/test_policy.yaml
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/failover/full/postpub_parameters1.yaml
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/failover/full/postpub_parameters4.yaml
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/failover/full/prepub_parameters1.yaml
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/failover/full/prepub_parameters2.yaml
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/failover/full/prepub_parameters3.yaml
  automated-test-scripts/data/f5-google-gdm-templates-v2/examples/failover/full/prepub_parameters4.yaml
  automated-test-scripts/f5-google-gdm-templates-v2/common/create_application_stack.sh
  automated-test-scripts/f5-google-gdm-templates-v2/common/create_bastion_stack.sh
  automated-test-scripts/f5-google-gdm-templates-v2/common/delete_application_stack.sh
  automated-test-scripts/f5-google-gdm-templates-v2/common/delete_bastion_stack.sh
  automated-test-scripts/f5-google-gdm-templates-v2/common/verify_create_application.sh
  automated-test-scripts/f5-google-gdm-templates-v2/common/verify_create_bastion.sh
  automated-test-scripts/f5-google-gdm-templates-v2/common/verify_delete_application.sh
  automated-test-scripts/f5-google-gdm-templates-v2/common/verify_delete_bastion.sh
  automated-test-scripts/f5-google-gdm-templates-v2/examples/failover/common/create_storage_upload_runtime.sh
  automated-test-scripts/f5-google-gdm-templates-v2/examples/failover/common/delete_cfe_storage.sh
  automated-test-scripts/f5-google-gdm-templates-v2/examples/failover/common/verify_active_active.sh
  automated-test-scripts/f5-google-gdm-templates-v2/examples/failover/common/verify_active_standby.sh
  automated-test-scripts/f5-google-gdm-templates-v2/examples/failover/create_stack_existing_network.sh
  automated-test-scripts/f5-google-gdm-templates-v2/examples/failover/daily_test_existing_network.yaml
  automated-test-scripts/f5-google-gdm-templates-v2/examples/failover/tests/verify_application.sh
  examples/failover/README.md
  examples/failover/failover-existing-network.py
  examples/failover/failover-existing-network.py.schema
  examples/failover/sample_failover-existing-network.yaml
  examples/modules/application/application.py
Due: gdm_application_module_test_job

Path conditions:
  gdm_network_module_test_job: any of: automated-test-scripts/data/f5-google-gdm-templates-v2/examples/modules/network/*, automated-test-scripts/f5-google-gdm-templates-v2/examples/modules/network/*, examples/modules/network/network.py
  gdm_application_module_test_job: any of: automated-test-scripts/data/f5-google-gdm-templates-v2/examples/modules/application/*, automated-test-scripts/f5-google-gdm-templates-v2/examples/modules/application/*, examples/modules/application/application.py
  gdm_bastion_module_test_job: any of: automated-test-scripts/data/f5-google-gdm-templates-v2/examples/modules/bastion/*, automated-test-scripts/f5-google-gdm-templates-v2/examples/modules/bastion/*, examples/modules/bastion/bastion.py
  gdm_bigip_autoscale_module_test_job: any of: automated-test-scripts/data/f5-google-gdm-templates-v2/examples/modules/bigip-autoscale/*, automated-test-scripts/f5-google-gdm-templates-v2/examples/modules/bigip-autoscale/*, examples/modules/bigip-autoscale/bigip_autoscale.py
  gdm_bigip_standalone_module_test_job: any of: automated-test-scripts/data/f5-google-gdm-templates-v2/examples/modules/bigip-standalone/*, automated-test-scripts/f5-google-gdm-templates-v2/examples/modules/bigip-standalone/*, examples/modules/bigip-standalone/bigip_standalone.py
  gdm_dag_module_test_job: any of: automated-test-scripts/data/f5-google-gdm-templates-v2/examples/modules/dag/*, automated-test-scripts/f5-google-gdm-templates-v2/examples/modules/dag/*, examples/modules/dag/dag.py
  gdm_autoscale_payg_test_job: any of: automated-test-scripts/data/f5-google-gdm-templates-v2/examples/autoscale/payg/*, automated-test-scripts/f5-google-gdm-templates-v2/examples/autoscale/payg/*, examples/autoscale/payg/autoscale.py
  gdm_quickstart_test_job: any of: automated-test-scripts/data/f5-google-gdm-templates-v2/examples/quickstart/*, automated-test-scripts/f5-google-gdm-templates-v2/examples/quickstart/*, examples/quickstart/quickstart.py, examples/quickstart/bigip-configurations/*
